<h1>Howdy, <%= current_user.first_name %>!</h1>
<%= link_to 'Register', register_path, class: 'btn btn-primary' %>
<div>This is where a global message will go.</div>
<%# if global_message %>
<!--  <p><%#= global_message %></p>-->
<%# end %>

