<div class="block-to-select">
  <h3>
    <input type="checkbox" name="selected_blocks[]" value="<%= block_number %>">
    Block <%= block_number %>
  </h3>
  <p>Place holder for Block <%= block_number %></p>
</div>
