<div class="block-to-select">
    <style>
        .block-to-select {
            flex: 0 0 auto;
            width: 400px;
            min-height: 250px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            background-color: white;
        }
    </style>
  <h3>Block <%= block_number %></h3>
  <p>Place holder for Block <%= block_number %></p>
</div>
